/*html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../Assets/Fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../Assets/Fonts/Roboto-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'DroidSans-Bold';
    src: url('../Assets/Fonts/FontsNew/DroidSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'bpg-web-002-caps-webfont';
    src: url('../Assets/Fonts/FontsNew/bpg-web-002-caps-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../Assets/Fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('../Assets/Fonts/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../Assets/Fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../Assets/Fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../Assets/Fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../Assets/Fonts/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../Assets/Fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('../Assets/Fonts/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../Assets/Fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-BoldItalic';
    src: url('../Assets/Fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Italic';
    src: url('../Assets/Fonts/RobotoCondensed-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../Assets/Fonts/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../Assets/Fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../Assets/Fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'bpg_glaho';
    src: url('../Assets/Fonts/bpg_glaho.ttf') format('truetype'), url('../Assets/Fonts/bpg_nino_mtavruli_normal.ttf') format('truetype');
}

@font-face {
    font-family: 'bpg_nino_mtavruli_normal';
    src: url('../Assets/Fonts/bpg_nino_mtavruli_normal.ttf') format('truetype');
}


@font-face {
    font-family: 'arial_geo';
    src: url('../Assets/Fonts/arial_geo.ttf') format('truetype');
}*/
